<nav class="navbar navbar-expand-lg navbar-dark bg-primary" xmlns:th="http://www.thymeleaf.org">
  
  
  <a class="navbar-brand" th:href="@{/admin}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
  
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link"  th:href="@{/admin/Utilisateurs}" >Utilisateurs</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Articles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" th:href="@{/admin/articles}">Tous les articles</a>
              <a class="dropdown-item" th:href="@{/admin/articles/add}">Ajout d'un article</a>
          </div>
      </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/factures}">Factures</a>
          </li>
      </ul>
      <span class="navbar-text">
        Admin 
      </span>
    </div>
  </nav>