<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="description">
    <h1 class="titre"> LUDWIG FAVRE</h1>

    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum necessitatibus enim
        expedita perferendis autem itaque natus atque est laboriosam quam velit, totam minima adipisci distinctio
        architecto neque rem voluptas dicta?Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Earum necessitatibus enim expedita perferendis autem itaque natus
        atque est laboriosam quam velit, totam minima adipisci distinctio architecto neque rem voluptas dicta?Lorem,
        ipsum dolor sit amet consectetur
        adipisicing elit. Earum necessitatibus enim expedita perferendis autem itaque natus atque est laboriosam
        quam velit, totam minima adipisci distinctio architecto neque rem voluptas dicta?Lorem, ipsum dolor sit amet
        consectetur adipisicing elit.
        Earum necessitatibus enim expedita perferendis autem itaque natus atque est laboriosam quam velit, totam
        minima adipisci distinctio architecto neque rem voluptas dicta?</p>

    <div class="icones">
        <a href="https://twitter.com/" target="blank"><i class="fab fa-twitter fa-lg"> </i> </a>
        <a href="https://facebook.com/" target="blank"><i class="fab fa-facebook-f fa-lg"></i> </a>
        <a href="https://google.com/" target="blank"> <i class="fab fa-google-plus-g fa-lg"></i> </a>
        <a href="https://pinterest.com/" target="blank"><i class="fab fa-pinterest-square fa-lg"></i> </a>
    </div>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="oeuvres">
    <section id="artiste">
        <div>
            <h1>TOUTES LES PHOTOGRAPHIES</h1>
        </div>
        <div class="flex_photos_Artiste">
            <article>
                <figure class="zoomPhoto">
                    <a href="#"> <img src="./images/2371.jpg" alt=""></a>
                    <figcaption>
                        <h3> LUDWIG FAVRE</h3>
                        <p class="desc">
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
        </div>
    </section>
</th:block>


