<article xmlns:th="http://www.thymeleaf.org" id="result" th:fragment="result">
    <figure>
        <img th:src="@{|images/1647.jpg|}" alt="">
        <figcaption>
            <h4>Titre de l'oeuvre</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, eaque animi! Ea natus
                iure eos cum dolorum, assumenda odit quia officiis tenetur dolor inventore quo a debitis
                sunt distinctio accusamus!</p>
        </figcaption>
    </figure>
</article>

<div class="pagination" id="pagination" xmlns:th="http://www.thymeleaf.org" th:fragment="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>