<div id="content_container" xmlns:th="http://www.thymeleaf.org">
    <section id="nouvelles_oeuvres">
        <article>
            <figure>
                <img src="images/2395.jpg" alt="">
                <figcaption>
                    <div>
                        <h3>Nouvelles oeuvres</h3>
                        <p>La légendaire collection Everest</p>
                        <p><a href="#">Explorer la nouvelle collection &gt;</a></p>
                    </div>
                </figcaption>
            </figure>
        </article>
    </section>
    <!-- Photographies d’art -->
    <section id="photographies">
        <div>
            <h1>Photographies d’art</h1>
            <p>Œuvres en édition limitée et numérotée avec certificat d'authenticité</p>
        </div>
        <div class="flex_photos">
            <article>
                <figure class="zoomImg">
                    <a href="#"> <img src="./images/2371.jpg" alt=""></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p class="desc">
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article>
                <figure class="zoomImg">
                    <a href="#"><img src="./images/bgi.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article>
                <figure class="zoomImg">
                    <a href="#"><img src="./images/bgi.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article>
                <figure class="zoomImg">
                    <a href="#"><img src="./images/bgi.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article>
                <figure class="zoomImg">
                    <a href="#"><img src="./images/bgi.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article>
                <figure class=" zoomImg ">
                    <a href="#"> <img src="./images/2371.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article>
                <figure class=" zoomImg ">
                    <a href="#"> <img src="./images/pink-umbrellas.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article class=" zoomImg ">
                <figure>
                    <a href="#"><img src="./images/pink-umbrellas.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>
            <article class=" zoomImg ">
                <figure>
                    <a href="#"><img src="./images/bgi.jpg" alt=" "></a>
                    <figcaption>
                        <h3> Erick franco</h3>
                        <p>
                            Miroir
                        </p>
                        <p>
                            A partir de 100 €
                        </p>
                    </figcaption>
                </figure>
            </article>

        </div>
    </section>
    <!-- quatro -->
    <section id="quatro">
        <article id="filtre_voyage">
            <figure>
                <img src="images/1647.jpg" alt="">
                <figcaption>
                    <div>
                        <p>Voyage</p>
                        <p>Vivez vos rêves</p>
                        <p><a href="#">Parcourir la collection</a></p>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article id="filtre_noir_et_blanc">
            <figure>
                <img src="images/2371.jpg" alt="">
                <figcaption>
                    <div>
                        <p>Noir & Blanc</p>
                        <p>Des oeuvres intemporelles</p>
                        <p><a href="#">Découvrir la collection</a></p>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article id="page_artiste">
            <figure>
                <img src="images/2395.jpg" alt="">
                <figcaption>
                    <div>
                        <p>Aurélien Vilette</p>
                        <p>Edifices oubliés</p>
                        <p><a href="#">Découvrir l’artiste</a></p>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article id="filtre_derniers_exemplaires">
            <figure>
                <img src="images/pink-umbrellas.jpg" alt="">
                <figcaption>
                    <div>
                        <p>Derniers exemplaires</p>
                        <p>Ne passer pas à côté de votre oeuvre</p>
                        <p><a href="#">Découvrir les oeuvres</a></p>
                    </div>
                </figcaption>
            </figure>
        </article>
    </section>