<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Rubik&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{ /css/index.css }">
    <title>Index</title>
</head>
<body>
<header>
    <div id="header_container">
    <th:block th:insert="~{ fragments/layouts/header }"></th:block>
    <!--/*Si la page n'est l'index, alors on insert le fil d'ariane*/-->
    <th:block th:if="${fragment != 'index'}">
        <th:block th:insert="~{ fragments/layouts/fil_ariane } "></th:block>
    </th:block>
    </div>
</header>

<th:block th:if="${ fragment }">
    <th:block th:insert="~{ |fragments/${fragment}| }"></th:block>
</th:block>

<footer>
    <th:block th:insert="~{ fragments/layouts/footer }"></th:block>
</footer>

<script th:src="@{https://kit.fontawesome.com/c849814321.js}" crossorigin="anonymous"></script>

</body>
</html>