<section id="footer" xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li>
            <a href="#"><img th:src="@{ |/images/icones/france.png| }" alt="Drapeau français"/> FR</a>
        </li>
        <li>
            <a href="#">Mentions légales</a>
        </li>
        <li>
            <a href="#">Conditions générales d'utilisation</a>
        </li>
        <li>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </li>
    </ul>
</section>