<div class="p-5">
    <table class="table table-striped" xmlns:th="http://www.thymeleaf.org">
        <thead>
        <tr>
            <th scope="col">Ref article</th>
            <th scope="col">Nom</th>
            
            <th scope="col">Prix Base</th>
            <th scope="col">Description</th>
    
        </tr>
        </thead>
        <tbody>
        <tr th:each="art : ${articles}" th:object="${art}">
            <th scope="row" th:text="*{articleRef}"></th>
            <td th:text="*{name}">Mark</td>
            <td th:text="*{prixBase}">Otto</td>
            <td th:text="*{description}">@mdo</td>
            

            <td>
                <a th:href="@{|/admin/articles/*{articleRef}?action=update|}">
                    <button class="btn btn-primary">Modifié</button>
                </a>
                <a th:href="@{|/admin/articles/*{articleRef}?action=delete|}">
                    <button class="btn btn-danger">Supprimer</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>